/* body */
body {
    background-color: #434343;
    font-family: "Inter", sans-serif;
    margin: 0 0 0 0;
    height: 2000px;
    color: #fffff1;
}
/* End body */
/* Scrollbar */
html::-webkit-scrollbar {
    width: 12px;
}
html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(29, 29, 29, 0.637);
}
html::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #363636;
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #91919153;
}
/* End Scrollbar */
/* NavBar */
#navbarHome {
    margin-top: 1.5rem;
}
#navDiv1 {
    float: left;
    width: 30%;
    height: 100px;
}
#navDiv2 {
    float: left;
    width: 40%;
    height: 100px;
}
#navDiv3 {
    float: right;
    width: 30%;
    height: 100px;
}
.navBarUl {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.navBarUl a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fffff1;
}
#navDiv2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100px;
}
#navBarUlLeft li {
    float: left;
    margin-left: 10%;
}
#navBarUlRight li {
    float: right;
    margin-right: 10%;
}
#navBarUlLeft a {
    padding: 36px 0 0 1rem;
}
#navBarUlRight a {
    padding: 36px 1rem 0 0;
}
.navbarHome ul:hover {
    border-color:#fffff1 solid;
}
/* End NavBar */
#backgroundHomeImg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
#downArrowHome {
    position:absolute;
    display: block;
    top: 90%;
    left: 50%;
    right: 50%;
    font-size: 3rem;
    width: 32px;
    height: auto;
    animation-name: downArrowAnim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes downArrowAnim {
    0%   {top: 90%;}
    50%  {top: 88%;}
    100% {top: 90%;}
  }
.gradientDiv1 {
    background: rgb(67,67,67);
    background: linear-gradient(360deg, rgb(67, 67, 67) 0%, rgba(0,212,255,0) 70%);
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
.gradientDiv2 {
    background: rgb(67,67,67);
    background: linear-gradient( rgba(67, 67, 67, 0.795) 0%, rgba(0,212,255,0) 60%);
    width: 100%;
    height: 100px;
    top: 0;
    position: absolute;
    z-index: -1;
}
#contentDivHome {
    width: 70%;
    height: 100px;
    top: 115%;
    margin: 0 15% 0 15%;
    position: absolute;
}
